.left-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* css for left container nav bar */
.left-container-nav-bar {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search-icon {
    flex: 2;
    text-align: right;
    margin-right: 5px;
}
.search-input {
    flex: 4;
}
.search-input input {
    border: none;
    padding: 8px;
    font-size: 11px;
    color: black;
}

.location-icon {
    flex: 2;
    text-align: center;
    margin-top: -2px;
    margin-right: 10px;
}
.location-icon fa-icon {
    padding: 2px 5px;
    background-color: #f6f6f8;
    border-radius: 500px;
}

/* css for left container data */
.left-container-data-box {
    flex: 12;
    display: flex;
    margin: 0px 30px;
    flex-direction: column;
}

/* Temperature data: image, value, day Time */
.left-container-temp-data {
    flex: 1;
    display: flex;
    flex-direction: column;

}
.left-container-temp-img {
    flex: 2;
}
.left-container-temp-img img {
    width: 160px;
    height: 160px;
}
.left-container-temp-value {
    flex: 1;
    font-size: 62px;
    font-weight: normal;
}
.left-container-temp-value sup {
    position: relative;
    top: 3px;
    font-size: 36px;
}
.left-contaienr-day-time {
    flex: 1;
    font-weight: 500;
    color: black;
    font-size: 14px;
}
.left-contaienr-day-time span {
    color: #dddddd;
}

.dividing-line {
    height: 1px;
    width: 100%;
    background-color: #f5f5f5;
    margin: 20px 0px;
}

/* Temperature details: summary, rain value, location image, location details */
.left-container-other-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.left-container-temp-summary {
    flex: 1;
    display: flex;
    flex-direction: row;
    font-size: smaller;
    font-weight: 500;
}
.left-container-temp-summary-phrase-img {
    margin-right: 10px;
}

.left-container-rain-stats {
    flex: 1;
    display: flex;
    flex-direction: row;
    font-size: smaller;
    font-weight: 500;
}
.left-container-rain-stats-img {
    margin-right: 10px;
}

.left-container-location-details {
    flex: 4;
    text-align: center;
}
.left-container-location-img {
    margin-top: 20px;
    margin-bottom: 30px;
}
.left-container-location-img img {
    width: 200px;
    height: 80px;
    border-radius: 20px;
}
.left-container-location-name {
    margin-top: -75px;
    font-size: small;
    font-weight: bold;
    color: #ffffff;
}